.factsbody {font-family: Arial, sans-serif;
        text-align: justify;
        background-image:url('gonzaga\ university\ cog\ image\ 1.jpg');
        background-repeat: no-repeat;
        background-size: cover;}

.indexbody {font-family: Arial, sans-serif;
        background-image:url('gonzaga\ university\ cog\ image\ 2.jpg');
        background-repeat: no-repeat;
        background-size: cover;}

li {font-size: 16px;}

a {color: blue;}

h4 {color: black;
        font-style: italic;
        font-size:20px;}

.header {place-items: center;
        margin: 0 auto;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 20px;
        -webkit-text-stroke: 1.5px black;}

.topnav {place-items: center;
        margin: 0 auto;
        text-align: center;
        background-color: hsla(248, 100%, 74%, 0.500);
        height: 100px;
        width: 400px;
        border-radius: 10px;
        border-style: solid;
        border-color: black;}

.topnav a {color: white;
        text-align: center;
        text-decoration: underline;
        font-size: 18px;}

.tableau {place-items: center;
        margin: 0 auto;
        width: 100;
        height: 100;}

.tableaubackground {place-items: center;
        margin: 0 auto;
        background-color:papayawhip;
        width: 1050px;
        height: 850px;
        border-style: solid;
        border-color: black;}

.backgroundbox {place-items: center;
        margin: 0 auto;
        background-color:papayawhip;
        padding:20px;
        width:800px;
        border-style: solid;
        border-color: black;}

.center {place-items: center;
        margin: 0 auto;}

.leftcolumn {float: left;
        width: 50%;
        text-align: center;}

.rightcolumn {float: right;
        width: 50%;
        line-height:1.5;}
